@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

.top {
    background-color: #1B75AE;
    height: 6vh;
}
body, html {
    margin: 0; /* Remove default margin */
    padding: 0;
    box-sizing: border-box;
  }
.bottom {
    height: 10vh;
    display: flex;
    flex-direction: row;
    font-size: medium;
    color: black;
}

.hamburger {
    align-items: center;
    font-size: 40;
    color: black;
    position: relative;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-left: 0.5vw;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.search-input {
    height: 2vh;
    margin-top: 2vh;
    width: 50vw;
    padding: 8px;
    border: 1.5px solid #1B75AE;
    border-radius: 4px;
    outline: none;
}

.search-input input {
    border: none;
    outline: none;
}

.search-input input::placeholder {
    color: #aaa;
}

.search-bar .search-button {
    width: 5vw;
    height: 5vh;
    background-color: #1B75AE;
    margin-top: 2.2vh;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-bar .search-button:hover {
    background-color: #1b5d89;
    transform: scale(1.05);
}

.search-bar .search-button:active {
    background-color: #6ba8ce; /* Change to a different shade on click */
    transform: scale(1);
}

.search-button .searchicon {
    color: white;
    font-size: 18px;
}
.account{
    font-size: 25px;
     /* margin-top: 4vh; */
     margin-left: 2vw;
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
}
h6{
    margin-top: 2vh;
    margin-left: 0.5vw;
    font-size: 10px;
}
.dropdown{
    font-size: 2vw;
    margin-top: 1vh;
}
.cart{
    font-size: 2vw;
    margin-left: 1vw;
}
.rectangle{
    margin-top: 0;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.content {
    margin-top: 1.5rem; /* Space after .rectangle */
    text-align: center;
    font-size: 1rem;

  }
.vixen{
    width: 80%;
    height: 70vh;
    position: relative;
    margin-right: -10vw;
    
}
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 65vh; 
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .left-grid {
    background-color: #e8e8f1; 
    position: relative;
    align-items: center;
  }
  
 
  .right-grid {
    background-color: #e8e8f1;
  
  }
  h5{
    color: #1B75AE;
    font-family: 'Zeyada', cursive;
    font-size: 4rem;
    font-weight: 300;
  }
  .btn{
    margin-top: 4vh;
  }
  .btnOne{
    border-radius: 5px;
    background-color:#1B75AE;
    color: white;
    margin-right: 2vw;
  }
  .btnTwo{
    border-radius: 5px;
  }
  .btnOne:hover{
    background-color: #1b5d89;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .btnTwo:hover{
    background-color: #808089;
    transform: scale(1.1);
    transition: background-color 0.4s ease, transform 0.4s ease;
  }
  .btnOne:active {
    background-color: #6ba8ce;
    transform: scale(1);
}
.btnTwo:active {
        background-color: #dee9f0; /* Change to a different shade on click */
        transform: scale(1);
}
  .w{
    font-size: larger;
  }
  .offer{
    font-size: medium;
  }
  .grid-containerTwo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 65vh;  */
    gap: .8rem;
  }
  .leftGrid {
    margin-top: 1rem;
    height: 57.5vh;
    background-color: #cbcccf; 
    position: relative;
    align-items: center;
    border:1px solid rgba(54, 52, 52, 0.162);
    border-radius: 5px;
    box-shadow: 0 9px 8px rgba(20, 20, 20, 0.2);
  }
  .rightGrid {
    height: 50vh;
    background-color: white;
    display: grid;
    grid-template-rows:  auto auto 1fr;
    gap: 1rem; /* Space between grids */
    padding: 1rem;
  }
  .upper-grid {
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    display: grid;
    gap: 1rem; /* Space between the two grids in the upper part */
  }
  .grid-part-one,
.grid-part-two {
  width: 18rem; 
  height: 10rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
}
  
  .grid-part-one{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcd5bc;
  }
  .grid-part-two{
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #c19a9a; 
  }
  .lower-grid {
    margin-bottom: 0;
    /* margin-top: 1rem; */
    height: 10rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f0d891;
    border-radius: 5px;
    
  }
  .Man{
    height: 59vh;
    width: 19vw;
    position: relative;
    margin-top: -2vh;
    margin-left: 6vw;
    
  }
  .align-col{
    display: flex;
    flex-direction: column;
  }
  .pos{
    margin-top: -17vw;
    margin-left: 15vw;
  }
  .Style{
    font-family: 'Zeyada', cursive;
    font-size: 2rem;
    font-weight: 300;

  }
  .sentence{
    font-size: large;
    font-weight: 600;
    margin-bottom: 2vh;
  }
  .sentence-two{
    font-weight: 500;
    margin-bottom: 4vh;
  }
  .man-btn{
    border: #1b5d89 solid 1.5px;
    border-radius: 2px;
    background-color: #F5EFEF;
    padding: .4rem 1rem;
  }
  .man-btn:hover{
    background-color: rgb(252, 243, 86);
    transform: scale(1.1);
    transition: background-color 0.5s ease, transform 0.5s ease;
    
  }
  .man-btn:active{
    background-color: rgb(41, 209, 247);
    transform: scale(1.0);
   
  }